<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light">
      SignUp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">


  <form action="" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col offset-md="1.5" sizeMd="9">
          <ion-header>
            <ion-toolbar>
              <ion-title>
                <h1>WELCOME!</h1>
              </ion-title>
            </ion-toolbar>
          </ion-header>
         <ion-card>
          <ion-card-header>
            <img src="../../assets/images/scrn.png" alt="Logo" id="image">
            <ion-card-title id="title">
              Floating Camp
            </ion-card-title>
          </ion-card-header>
         </ion-card>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="email" placeholder="example@xyz.com" formControlName="email" minlength="10"></ion-input>
            <ion-note slot="helper">Please enter vaild details</ion-note>
          </ion-item>
          <ion-note *ngIf="!form.get('email').valid && form.get('email').touched">Please enter valid details</ion-note>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" minlength="6" maxlength="15" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="helper">Enter Strong Password </ion-note>
          </ion-item>
          <ion-note *ngIf="!form.get('password').valid && form.get('password').touched">Password should be between 6 to 15 characters</ion-note>



        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col offset-md="1.5" sizeMd="9">
          <ion-item lines="none" id="signs">
            <ion-button [disabled]="!form.valid" routerLink="/main-home" size="default" color="success" (click)="clck()">Login</ion-button>
            <ion-button size="default" color="warning">Register</ion-button>
          </ion-item>

          <ion-item lines="none">
            <a href="#">Forgot password? </a>

          </ion-item>

          <ion-item lines="none" >
           <h4> Don't have an account? </h4>
          </ion-item>
          <ion-item lines="none" id="signs2">
            <ion-button size="default" color="medium"> Create</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
